<div class="usa-grid mb-xxl">
  <section class="info-block">
    <div class="description">
      <h2 class="federalist-heading">Launch your site in minutes.</h2>
      <p class="copy">
        Federalist uses a <a href="https://github.com/">public code hosting service</a> to load and store code for your site. If your code is already on GitHub, Federalist can securely deploy a website from your repository in minutes.
      </p>
      <div class="figure-group mb-xl">
        <h4>Agencies using Federalist</h4>
        <ul class="figure-list max-4 mobile-center">
          <li>
            <figure class="figure figure-seal">
              <img src="{{site.baseurl}}/assets/images/logos/partners/500px-Education.png" alt="Seal of the Department of Education" height="64" width="64">
              <figcaption>Department of Education</figcaption>
            </figure>
          </li>
          <li>
            <figure class="figure figure-seal">
              <img src="{{site.baseurl}}/assets/images/logos/partners/500px-DHS.png" alt="Seal of the Department of Homeland Security" height="64" width="64">
              <figcaption>Department of Homeland Security</figcaption>
            </figure>
          </li>
          <li>
            <figure class="figure figure-seal">
              <img src="{{site.baseurl}}/assets/images/logos/partners/500px-DOI.png" alt="Seal of the Department of the Interior" height="64" width="64">
              <figcaption>Department of the Interior</figcaption>
            </figure>
          </li>
          <li>
            <figure class="figure figure-seal">
              <img src="{{site.baseurl}}/assets/images/logos/partners/500px-treasury.png" alt="Seal of the Department of the Treasury" height="64" width="64">
              <figcaption>Department of the Treasury</figcaption>
            </figure>
          </li>
        </ul>
        <ul class="figure-list max-4 mobile-center">
          <li>
            <figure class="figure figure-seal">
              <img src="{{site.baseurl}}/assets/images/logos/partners/500px-GSA.png" alt="Seal of the General Services Administration" height="64" width="64">
              <figcaption>General Services Administration</figcaption>
            </figure>
          </li>
          <li>
            <figure class="figure figure-seal">
              <img src="{{site.baseurl}}/assets/images/logos/partners/500px-NSF.png" alt="Seal of the National Science Foundation" height="64" width="64">
              <figcaption>National Science Foundation</figcaption>
            </figure>
          </li>
          <li>
            <figure class="figure figure-seal">
              <img src="{{site.baseurl}}/assets/images/logos/partners/500px-OPM.png" alt="Seal of the Office of Personnel Management" height="64" width="64">
              <figcaption>Office of Personnel Management</figcaption>
            </figure>
          </li>
          <li>
            <figure class="figure figure-seal">
              <img src="{{site.baseurl}}/assets/images/logos/partners/DODc.gif" alt="Seal of the Department of Defense" height="64" width="64">
              <figcaption>Department of Defense</figcaption>
            </figure>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <a href="#">See case studies of Federalist-powered sites →</a>
  </div>