<div class="usa-grid mb-xl">
  <hr class="hr-light">
  <section class="info-block">
    <div class="description">
      <h2 class="federalist-heading">Customer Case Studies</h2>
      <p class="copy"></p>
      <div class="figure-group">
        <ul class="figure-list max-3 fact-sheets mobile-center">
          <li>
            <figure class="figure">
              <figcaption>
                <h4>AFWERX, Air Force</h4>
              </figcaption>
              <div class="tint">
                <a href="{{site.baseurl}}/assets/documents/afwerx-success.pdf"><img  alt="AFWERX Success Story Thumbnail" src="{{site.baseurl}}/assets/images/home-page/afwerx-success-Thumbnail.png"></a>
              </div>
              <figcaption>
                <p class="small">Read me if you’re looking for: Challenges with government compliance, and cultural challenges switching to Cloud solutions</p>
              </figcaption>
            </figure>
          </li>
          <li>
            <figure class="figure">
              <figcaption>
                <h4>Centers of Excellence</h4>
              </figcaption>
              <div class="tint">
                <a href="{{site.baseurl}}/assets/documents/coe-success.pdf"><img  alt="Centers of Excellence  Success Story Thumbnail" src="{{site.baseurl}}/assets/images/home-page/coe-success-Thumbnail.png"></a>
              </div>
              <figcaption>
                <p class="small">Read me if you’re looking for: Enhanced functionality, hands-on support, and modern design</p>
              </figcaption>
            </figure>
          </li>
          <li>
            <figure class="figure">
              <figcaption>
                <h4>Department of the Interior</h4>
              </figcaption>
              <div class="tint">
                <a href="{{site.baseurl}}/assets/documents/doi-success.pdf"><img  alt="Department of Interior  Success Story Thumbnail" src="{{site.baseurl}}/assets/images/home-page/doi-success-Thumbnail.png"></a>
              </div>
              <figcaption>
                <p class="small">Read me if you’re looking for: how Federalist adds value to my work as a content strategist</p>
              </figcaption>
            </figure>
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>