<div class="usa-grid">
    <hr class="hr-light">
    <section class="info-block">
      <div class="description">
        <h2>Federalist fact sheets</h2>
        <p class="copy">
          Need more details about Federalist? Need help convincing your executive team? The Federalist team has developed these resources to help. See more on the <a href="https://federalist.18f.gov/">Federalist support site</a>.
        </p>
        <div class="figure-group">
          <ul class="figure-list max-3 fact-sheets mobile-center">
            <li>
              <figure class="figure">
                <div class="tint">
                  <a href="{{site.baseurl}}/assets/documents/Federalist-Proposal.pdf"><img  alt="Federalist Proposal Thumbnail" src="{{site.baseurl}}/assets/images/home-page/Federalist-Proposal-Thumbnail.png"></a>
                </div>
                <figcaption>
                  <h6>Federalist proposal</h6>
                  <p class="small">A two-page overview about Federalist for stakeholder briefings.</p>
                  <a href="{{site.baseurl}}/assets/documents/Federalist-Proposal.pdf">Download PDF</a>
                </figcaption>
              </figure>
            </li>
            <li>
              <figure class="figure">
                <div class="tint">
                  <a href="{{site.baseurl}}/assets/documents/how-federalist-works-diagram.pdf">
                    <img alt="Diagram of Federalist Thumbnail" src="{{site.baseurl}}/assets/images/home-page/how-federalist-works-diagram-Thumbnail.jpg">
                  </a>
                </div>
                <figcaption>
                  <h6>Federalist basic diagram</h6>
                  <p class="small">An outline of how all of Federalist’s parts work together.</p>
                  <a href="{{site.baseurl}}/assets/documents/how-federalist-works-diagram.pdf">Download PDF</a>
                </figcaption>
              </figure>
            </li>
            <li>
              <figure class="figure">
                <div class="tint">
                  <a href="{{site.baseurl}}/assets/documents/Federalist-Compliance-Memo.pdf"><img alt="Compliance Thumbnail" src="{{site.baseurl}}/assets/images/home-page/Federalist-Compliance-Memo-Thumbnail.jpg"></a>
                </div>
                <figcaption>
                  <h6>Compliance memo</h6>
                  <p class="small">Details about Federalist’s compliance and Authority to Operate.</p>
                  <a href="{{site.baseurl}}/assets/documents/Federalist-Compliance-Memo.pdf">Download PDF</a>
                </figcaption>
              </figure>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>