<section class="usa-grid mb-xxl pt-xl">
  <div class="usa-width-one-whole">
    <h2 class="federalist-heading">Kickstart your website with one of our templates.</h2>
  </div>
  <p class="sans-regular usa-width-one-whole mb-xl">
    Our accessible, customizable templates let you spend more time on your content.
  </p>

  <div class="usa-width-one-whole">    
    <ul class="figure-list max-2 mobile-center mb-xl">
      <li>
        <a href="https://performance.gov">
        <figure class="figure figure-seal">
          <div class="tint">
            <img src="{{site.baseurl}}/assets/images/partner-sites/performance.gov.png"  alt="A screenshot of the Performance.gov website">
          </div>
          <figcaption>Performance.gov</figcaption>
        </figure>
        </a>
      </li>
      <li>
        <a href="https://pclob.gov">
          <figure class="figure figure-seal">
            <div class="tint">
              <img src="{{site.baseurl}}/assets/images/partner-sites/pclob.gov.png"  alt="A screenshot of the Privacy and Civil Liberties Oversight Board website">
            </div>
            <figcaption>Privacy and Civil Liberties Oversight Board</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a href="https://fedramp.gov">
        <figure class="figure figure-seal">
          <div class="tint">
            <img src="{{site.baseurl}}/assets/images/partner-sites/fedramp.gov.png" alt="A screenshot of the FedRAMP website">
          </div>
          <figcaption>FedRAMP</figcaption>
        </figure>
        </a>
      </li>
      <li>
        <a href="https://cio.gov">
        <figure class="figure figure-seal">
          <div class="tint">
            <img src="{{site.baseurl}}/assets/images/partner-sites/cio.gov.png" alt="A screenshot of the CIO.gov website">
          </div>
          <figcaption>CIO.gov</figcaption>
        </figure>
        </a>
      </li>
    </ul>
    <a href="{{site.baseurl}}/documentation/templates/">See all templates →</a>
  </div>
</section>
