<div class="usa-grid mb-xxl">
  <section class="info-block">
    <div class="description">
      <h2>Kickstart your website with one of our templates.</h2>
      <p class="copy">
        Our accessible, customizable templates let you spend more time on your content.
      </p>
      <div class="figure-group">
        <h4>A few websites built with our templates</h4>
        <ul class="figure-list max-2 mobile-center">
          <li>
            <a href="https://performance.gov">
            <figure class="figure figure-seal">
              <div class="tint">
                <img src="{{site.baseurl}}/assets/images/partner-sites/performance.gov.png"  alt="A screenshot of the Performance.gov website">
              </div>
              <figcaption>Performance.gov</figcaption>
            </figure>
            </a>
          </li>
          <li>
            <a href="https://pclob.gov">
              <figure class="figure figure-seal">
                <div class="tint">
                  <img src="{{site.baseurl}}/assets/images/partner-sites/pclob.gov.png"  alt="A screenshot of the Privacy and Civil Liberties Oversight Board website">
                </div>
                <figcaption>Privacy and Civil Liberties Oversight Board</figcaption>
              </figure>
            </a>
          </li>
          <li>
            <a href="https://fedramp.gov">
            <figure class="figure figure-seal">
              <div class="tint">
                <img src="{{site.baseurl}}/assets/images/partner-sites/fedramp.gov.png" alt="A screenshot of the FedRAMP website">
              </div>
              <figcaption>FedRAMP</figcaption>
            </figure>
            </a>
          </li>
          <li>
            <a href="https://cio.gov">
            <figure class="figure figure-seal">
              <div class="tint">
                <img src="{{site.baseurl}}/assets/images/partner-sites/cio.gov.png" alt="A screenshot of the CIO.gov website">
              </div>
              <figcaption>CIO.gov</figcaption>
            </figure>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>