$color-blue-bright: rgb(5, 104, 253);
$color-blue-darker: #2d476a;
$color-gray: #333333;
$white-shaded: #eef4fb;

@media screen and (min-width: 951px){
  .usa-nav-secondary {
    margin-top: 0;
    position: absolute;
    right: 0;
    top: -5.7rem;
  }
}

.usa-nav-secondary-links{
  float: right;
}
.usa-nav-secondary-links li{
  padding-left: 1.5rem;
}

.mobile {
  display: none;
}


@media screen and (max-width: 951px){
  .features-block {
    .feature {
      > div {
        left: 0 !important;
      }

      img {
        width: auto;
      }
    }
  }

  .federalist-intro {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }

  .feature-copy {
    padding-left: 0 !important;
    text-align: center !important;
  }

  .federalist-hero {
    width: 100% !important;
  }

  .feature {
    margin-bottom: 6rem;
  }

  .mobile {
    display: block;
    text-align: center;
  }

  .steps-block {
    display: none;
  }

  .usa-nav-secondary-links {
    float: left;
  }

  .usa-nav .usa-button.nav-button{
    padding: 0;
  }
  .line::before {
    content: none;
  }
}

.usa-hero-callout{
  color: white;
  padding: 2rem;
  font-size: 100%;

  .contrast-heading{
    font-size: 18pt;
  }
  ul{
    list-style: none;
    padding-left: 0;
  }

}

.usa-layout-docs-main_content {
  img{
    border: 1px solid #ddd;
  }
}


#home{
  .info-image{
    text-align: center;
    img{
      width: 100%;
      border: 1px solid #ddd;
    }
  }
  margin-bottom: 100px;
}

.example-sites-list{
  img{
    border: 1px solid #ddd;
  }
  .usa-width-one-third{
    margin-right: 1.3%
  }

  .case-study{
    p{
      text-align: center;
    }
  }
}

.federalist-heading {
  font-family: "merriweatherblack";
  font-size: 2.6rem;
}

.steps-block {
  margin: 0 auto;
  position: relative;
  width: 75%;
}

.features-block {
  position: relative;

  .section-title {
    margin-top: 0;
  }

  .feature-copy {
    padding-left: 3rem;
    text-align: left;
  }

  .feature-link {
    color: white;
    font-size: 1.4rem;
  }
}

.steps-circle {
  background-color: #0271BB;
  border-radius: 5rem;
  color: white;
  font-family: "merriweatherblack";
  font-size: 2.6rem;
  height: 5rem;
  line-height: 5rem;
  position: relative;
  width: 5rem;
}

.line::before{
  content: '';
  position: absolute;
  top: 2.5rem;
  left: 5rem;
  height: .4rem;
  background: white;
  width: 90%;
  z-index: -1;
}

.site-banner {
  background-color: $color-blue-bright;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  color: $white-shaded;
  padding: 1rem 2rem;
  position: sticky;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 9999;

  a {
    color: $white-shaded;
    font-weight: bold;
  }

  img {
    background-color: $white-shaded;
    border-radius: 100%;
    height: 2rem;
    padding: 2px;
    vertical-align: middle;
    width: 2rem;
  }

  .inner-content {
    display: inline-block;
    width: 100%;
  }

  p {
    font-family: "source_sans_proregular";
    margin: .5rem;
    text-align: center;
  }

  span {
    font-weight: bold;
    font-style: italic;
  }
}

.pages-announcement {
  display: flex;
  justify-content: center;
  margin: 3rem 0 6rem 0;

  h1 {
    font-size: 5rem;
    font-weight: 700;
    margin: 1rem 0;
    text-align: center;
  }

  .img-block {
    display: inline-block;
    height: auto;
    max-width: 400px;

    img {
      vertical-align: middle;
    }
  }

  span {
    display: inline-block;
    color: $color-gray;
    font-family: "Source Sans Pro";
  }
}

.pages-prose {
  font-size: 2.1rem;

  span {
    font-weight: bold;
  }
}

.position-center {
  margin: 0 auto;
}

.position-right {
  float: right;
}

.font-large {
  font-size: 3rem;
}

.sans-regular {
  font-family: "source_sans_proregular";
}

.sans-bold {
  font-family: "source_sans_probold";
}

.federalist-intro {
  color: white;
  position: relative;
  text-align: center;
}

.federalist-intro-heading {
  font-size: 2.6rem;
}

.federalist-hero {
  color: white;
  font-family: "source_sans_proregular";
  font-size: 2.6rem;
  line-height: 3.2rem;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  width: 50%;

  .usa-button {
    background-color: #0271bb;
    border-radius: 2px;
    font-size: 2rem;
    padding: 1.6rem;
    width: 45%;
  }
}

.features-page{
  .feature-group{
    .feature-text{
      text-align: center;
    }
  }

  margin-bottom: 200px;
}

.mt-xl {
  margin-top: 4rem !important;
}

.mb-sm {
  margin-bottom: 1rem !important;
}

.mb-md {
  margin-bottom: 2rem !important;
}

.mb-lg {
  margin-bottom: 3rem !important;
}

.mb-xl {
  margin-bottom: 4rem !important;
}

.mb-xxl {
  margin-bottom: 5rem !important;
}

.mt-md {
  margin-top: 2rem !important;
}

.p-lg {
  padding: 3rem;
}

.p-xl {
  padding: 4rem;
}

.p-xxl {
  padding: 5rem;
}

.pt-xl {
  padding-top: 4rem;
}

.pb-xl {
  padding-bottom: 4rem;
}

.pb-xxl {
  padding-bottom: 5rem;
}

#main-content{
  padding-top: 40px;

  .feature-group{
    margin-bottom: 40px;
    .feature-image{
      text-align: center;
    }
    p{
      margin-bottom: 3%;
    }
  }
}

.figure-seal{
  text-align: center;
}

.figure-list {
    display: -ms-flexbox;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    list-style: none;
    margin-top: 4px;
    margin-bottom: 0px;
    padding: 0;
}

.figure-list.max-2 li {
  flex-basis: 45%;
}

.figure-list.max-3 li {
  flex-basis: 27%;
}

.figure-list.max-4 li {
  flex-basis: 160px;
}

@media(max-width: 480px) {
  .figure-list.fact-sheets {
    flex-direction: column;
  }
}

.figure {
    margin: 0;
}

.figure figcaption {
    margin-bottom: 6px;
    margin-top: inherit;
    text-align: center;
}

.tint {
  img{
    border: 1px solid #ddd;
  }
}

.usa-footer-logo-img{
  margin-right: 10px;
}

.usa-logo-text:hover{
  cursor: pointer;
}

.usa-logo a {
  background-image: url('../../assets/images/federalist-logo.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: transparent;
  display: inline-block;
  height: auto;
  width: 150px;
}

.usa-nav .usa-button.nav-button {
  border: none;
  border-radius: 2px;
  box-shadow: none;
  display: inline;
  color: $color-blue-darker;

  &:hover {
    text-decoration: none;
    background-color: $white-shaded;
  }
}
