.usa-content {
  ul,
  ol,
  .language-shell {
  max-width: 53rem;
}
}

.screenshot {
  border: 1px solid #5b616b;
  border-radius: 3px;
  display: block;
  margin-bottom: 16px;
  overflow: hidden;
}

.screenshot img {
  vertical-align: middle;
}

.usa-header-extended .usa-nav {
  border-bottom: none;
}

.usa-header {
  background-color: #2d476a;
  border-bottom: none;
  .usa-logo {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .usa-logo a {
    color: #fff;
    background-image: url('../../assets/images/federalist-logo.svg');
    text-indent: -1000rem;
    display:inline-block;
    background-repeat:no-repeat;
  }

.usa-nav-secondary .usa-search {
  margin-top: 0;
}

  .usa-nav-secondary-links {
    margin-top: 1rem;
  }
  .usa-nav-secondary-links a {
    color: #fff;
//    text-decoration: underline;
    font-size: 1.5rem;
  }
  .usa-nav-secondary-links li:not(:last-child)::after {
    content: none;
  }
  .usa-nav-secondary-links .usa-header-search-button {
    color: #fff;
    background-image: url('../../assets/uswds/img/search.svg');
  }
}
.usa-navbar {
  border-bottom: none;
}

@media screen and (max-width: 951px) {
  .usa-header {
    .usa-logo {
      padding-top: 1rem;
      margin-bottom: 0;
      margin-top:0;
      line-height: initial;
      .usa-logo-text {
        font-size: 2rem;
      }
    }
    .usa-nav-secondary-links a {
      color: inherit;
    }
  }

}

#home{
  .hr-light{
    margin: 30px 0 40px !important;
  }  
}
