---
# build this file as raw CSS
layout: none
---
{% if site.logo.url %}
.usa-logo-text {
  padding-left: 1.25em;
  background-image: url({{ site.baseurl }}{{ site.logo.url }});
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 1em;
}
{% endif %}
