.case-study > div {
  display: inline-block;
  width: 50%;
}

.screenshot {
  display: inline-block;
  width: 31%;
  text-align: center;
  margin-right: 1rem;
}

.screenshot > a {
  display: block;
  margin-bottom: 2rem;
}

.screenshot > a > img {
  border: 1px solid lightgray;
}