<footer class="usa-footer usa-footer-slim" role="contentinfo">
  {% assign repo = site.repos[0] %}
  <div class="usa-grid usa-footer-return-to-top">
      <a href="#top">Return to top</a>
  </div>
  <div class="usa-footer-primary-section">
    <div class="usa-grid">
      <div class="usa-footer-logo usa-width-one-third">
        {% assign logo = site.logourl | default: '/assets/img/18f-logo.png' %}
        {% assign logoalt = site.logoalt | default: '18F logo' %}
        <img src="{{ site.baseurl }}{{ logo }}" alt="{{ logoalt }}">
      </div>

      <nav class="usa-footer-nav usa-width-one-third">
        <ul class="usa-unstyled-list">
          <li class="usa-footer-primary-content">
            <a class="usa-footer-primary-link" href="https://github.com/18F/guides-template/">
            18F Guides theme
            </a>
          </li>
          {% if repo %}
          <li class="usa-footer-primary-content">
            <a class="usa-footer-primary-link" href="https://github.com/18f/federalist-docs/edit/master/{{ page.path }}">
            Edit this page
            </a>
          </li>
          <li class="usa-footer-primary-content">
            <a class="usa-footer-primary-link" href="{{ repo.url }}/issues">
            File an issue on GitHub
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>
      <div class="usa-width-one-third">
        <ul class="usa-unstyled-list">
          <li class="usa-footer-primary-content">
              Maintained by the Federalist team
          </li>
          <li class="usa-footer-primary-content">
              Hosted by <a href="https://federalist.18f.gov/">Federalist</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
