---
layout: base
---
{% include header.html %}

<main id="main-content" class="usa-grid usa-section usa-content usa-layout-docs">
  <aside class="usa-width-one-fourth usa-layout-docs-sidenav">
    <ul class="usa-sidenav-list">
      {% for item in site.navigation %}
      <li>
        <a href="{{ site.baseurl }}{{ item.url }}">{{ item.text }}</a>
        {% if item.children %}
        <ul class="usa-sidenav-sub_list">
          {% for child in item.children %}
          <li>
            <a href="{{ site.baseurl }}{{ child.url }}">{{ child.text }}</a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </aside>

  <div class="usa-width-three-fourths usa-layout-docs-main_content">
    {{ content }}
  </div>
</main>

{% include footer.html %}
